<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto1pdm115">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto1PDM115">
        <activity
            android:name=".ActividadInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".ActividadEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".ActividadConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".ActividadActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleActividadHorarioConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleActividadHorarioActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleActividadHorarioEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleActividadHorarioInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CoordinaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CoordinaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CoordinaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CoordinaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CicloConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CicloActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CicloEliminarActiviy"
            android:exported="false" />
        <activity
            android:name=".CicloInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleActividadHorarioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CoordinaMenuActiviy"
            android:exported="false" />
        <activity
            android:name=".CicloMenuActivity"
            android:exported="false" />
        <activity
            android:name=".EncargadoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".EncargadoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".EncargadoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".EncargadoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".EncargadoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleActividadConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleActividadEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleActividadInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".ActividadMenuActivity"
            android:exported="false" />
        <activity
            android:name=".EscuelaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".EscuelaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".EscuelaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".EscuelaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".EscuelaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MateriaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleOfertaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleOfertaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleOfertaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleOfertaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleOfertaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".HorarioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".HorarioEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".HorarioConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".HorarioActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".HorarioInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".MiembroUniversitarioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MiembroUniversitarioEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".MiembroUniversitarioConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".MiembroUniversitarioActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".MiembroUniversitarioInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CarreraMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CarreraEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CarreraConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CarreraActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CarreraInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".MateriaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".MateriaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".MateriaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MateriaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>