<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto1pdm115">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto1PDM115">
        <activity
            android:name=".DetalleOfertaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleOfertaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleOfertaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".HorarioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".HorarioEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".HorarioConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".HorarioActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".HorarioInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".MiembroUniversitarioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MiembroUniversitarioEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".MiembroUniversitarioConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".MiembroUniversitarioActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".MiembroUniversitarioInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CarreraMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CarreraEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CarreraConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CarreraActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CarreraInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".MateriaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".MateriaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".MateriaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MateriaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".MateriaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>